@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "reset.css";
@import "nav.css";
@import "shared.css";
@import "tuner.css";
@import "config.css";
:root {
	--primary-bg: #2c3331;
	--screen: #222625;
	--primary-text: #fff;
	--secondary-text: #868686;
	--glow-shadow: 0px 0px 25px #5cc1a9;
	--neumorphic-shadow: 7px 7px 18.5px rgba(0, 0, 0, 0.5),
		-7px -7px 18.5px #3d4443;
	--neumorphic-shadow-inset: inset 7px 7px 18.5px rgba(0, 0, 0, 0.5),
		inset -7px -7px 18.5px #3d4443;

	font-size: 16px;
}

body {
	background-color: var(--primary-bg);
	font-family: "Poppins", sans-serif;
}

.main-container {
	max-width: 1300px;
	margin: 0 auto;
}

.body-section {
	min-height: 40rem;
	display: grid;
	grid-template-columns: 2fr 3fr;
}

@media only screen and (max-width: 1000px) {
	.body-section {
		grid-template-columns: 0;

		grid-template-rows: 1fr 1fr;
	}
}
