canvas {
	background-color: var(--screen);
	border-radius: 10px;
	box-shadow: var(--neumorphic-shadow);
}
/* neumorphic buttons */
.button {
	font-size: 2.5rem;
	width: 2em;
	height: 2em;
	color: var(--secondary-text);
	background-color: var(--secondary-bg);
	box-shadow: var(--neumorphic-shadow);
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
	position: relative;
	transition: all 0.3s ease;
}

.button:hover {
	color: var(--primary-text);
	text-shadow: var(--glow-shadow);
}
.button.active {
	color: var(--primary-text);
	text-shadow: var(--glow-shadow);
}
.button::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	box-shadow: var(--neumorphic-shadow-inset);
	transition: all 0.4s ease-out;
}
.button:active {
	color: #fff;
	text-shadow: var(--glow-shadow);
	box-shadow: none;
	transform: translateY(4px);
}
.button:active::after {
	opacity: 1;
}

.button.no-permission {
	color: hsl(0, 45%, 56%);
	text-shadow: 0px 0px 25px hsl(0, 45%, 56%);
}

/* custom radio buttons */

.radio-label {
	font-size: 1.3rem;
	color: var(--primary-text);
	display: flex;
	align-items: center;
	cursor: pointer;
	padding-left: 2rem;
	margin-bottom: 0.5rem;
}

.radio-label input {
	display: none;
}

.custom-radio-input {
	width: 0.8em;
	height: 0.8em;
	border-radius: 50%;
	border: 2px solid var(--secondary-text);
	box-shadow: var(--neumorphic-shadow);
	margin-right: 1rem;
	position: relative;
	transition: all 0.3s ease-out;
}
.custom-radio-input::after {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--cyan);
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease-out;
}

.radio-label input:checked + .custom-radio-input::after {
	opacity: 1;
}

.radio-label input:checked + .custom-radio-input {
	border: 2px solid var(--cyan);
	box-shadow: var(--glow-shadow);
}
