#tuner .section-body {
	display: grid;
	grid-template-columns: 2fr 3fr;
}
.config-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#visualizer-canvas {
	width: 32rem;
	height: 17rem;
}

.tuner-section {
	min-height: 38rem;
	display: grid;
	grid-template-columns: 2fr 8fr;
	justify-items: end;
}

#tuner-canvas {
	width: 36rem;
	height: 30rem;
}

.note-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.tuner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (max-width: 1500px) {
	#tuner .section-body {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.tuner-section {
		order: 1;
		justify-self: center;
	}
	.config-section {
		order: 2;
	}
	.tuner-section {
		grid-template-columns: 1fr;
		grid-gap: 2rem;
	}
	.note-buttons {
		flex-direction: row;
		width: 100%;
		order: 2;
	}
	.tuner {
		gap: 2rem;
		order: 1;
	}
}
