.config-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#visualizer-canvas {
	width: 32rem;
	height: 15rem;
}

.tuner-section {
	display: grid;
	grid-template-columns: 2fr 8fr;
	justify-items: end;
}

#tuner-canvas {
	width: 36rem;
	height: 30rem;
}

.note-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.tuner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
